/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: Sora;
  src: url('assets/fonts/Sora.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  html {
    @apply bg-gray-50;
    cursor: url('./assets/icons/dot-dark.svg') 4 4, auto;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    @apply dark:bg-gray-800;
    cursor: url('./assets/icons/dot-dark.svg') 4 4, auto;
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  @apply font-sora text-ab-gray dark:text-white overflow-x-hidden bg-gray-100 dark:bg-gray-800;
}

::-webkit-scrollbar {
  @apply bg-none border-4 w-2;

  &::before {
    position: absolute;
    content: '';
    left: -2px;
    width: 4px;
    height: 4px;
  }
}

::-webkit-scrollbar-thumb {
  @apply bg-opacity-85 bg-gray-800 rounded-full;
  backdrop-filter: blur(5px);
  border: 2px solid transparent;
  background-clip: content-box;
}

h1 {
  @apply text-2xl md:text-2xl lg:text-3xl;
}

.filter-item {
  @apply relative;
}

.filter-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.filter-item:hover:after,
.filter-item.selected:after {
  @apply block bg-ab-gray dark:bg-white rounded-full absolute;
  left: 0;
  bottom: 0;
  content: '';
  height: 2px;
  width: 100%;
}

button {
  padding: 0;
  @media (pointer: none) {
    @apply hover:bg-white hover:text-white;
  }

  @apply flex items-center justify-between rounded-full dark:text-white transition-all duration-300 p-1;
}
